*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    display: flex;
    position: absolute;
    top: 30%;
    left: 45%;
    font-size: 40px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: darkgray;
    position: relative;
}

ul li{
    width: 260px;
    height: 50px;
    background-color: rgba(99, 102, 102, 0.64);
    color: rgb(249, 249, 249);
    padding: 15px 35px 15px 20px;
    margin-left: 13px;
    margin-bottom: 5px;
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, 0.278) 0 6px 20px;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    overflow: scroll;
    transition: all 0.2s ease-out;
}




li:hover{
    background-color: rgb(99, 102, 102);
}

input{
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, 0.278) 0 6px 20px;
    width: 200px;
    height: 40px;
    padding: 6px;
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
    border: solid 2px #ffff;
}

#add{
    margin-left: 0px;
    width: 100px;
    height: 42px;
    background-color: rgba(99, 102, 102, 0.424);
    border: none;
    transition: all 0.3s ease-in;
    padding: 6px;
    color: aliceblue;
    border-radius: 3px;
}

#add:hover{
    background-color: rgb(99, 102, 102);
}

ul{
    position: absolute;
    top: 55%;
}

/* ----------------------trash-icon-------------------- */
span{
    position: absolute;
    right: 10px;
    display: none;
}

li:hover span{
    display: inline-block;
}

span:hover{
    color: red;
}


/* ------------------------CHECkED--------------------- */

ul li.liStyle{
    background-color: green;
}

ul li.liStyle::before{
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 14px;
    left: 20px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}
